@use './variables' as *
@use 'sass:color'

body
  background-color: $bg-primary
  font-family: $font-family-sans-serif
  color: $text-color

main
  min-height: 85vh

.container
  display: grid
  height: 100%
  margin: $margin-base
  width: 80%

  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
  grid-gap: 1rem

.row
  display: flex
  align-items: center
  justify-content: space-between
  margin: $margin-base

.title
  font-size: 18px
  font-weight: bold
  color: $primary

.btn-primary
  display: flex
  align-items: center
  height: 35px
  background-color: $primary
  color: $white
  border: none
  border-radius: 8px
  padding: 8px 16px
  transition: 0.5 easy
  cursor: pointer

  &:hover
    background-color: color.adjust($primary, $lightness: 15%)
    transform: translateY(-1px)
    box-shadow: $box-shadow-base

  &:active
    background-color: color.adjust($primary, $lightness: 5%)
    transform: translateY(0)

  &:disabled
    background-color: $gray-400
    color: $text-muted
    cursor: not-allowed

.btn-secondary
  display: flex
  align-items: center
  height: 35px
  background-color: $secondary
  color: $white
  border: none
  border-radius: 8px
  padding: 8px 16px
  cursor: pointer
  transition: 0.3 easy

  &:hover
    background-color: color.adjust($secondary, $lightness: 15%)
    transform: translateY(-1px)
    box-shadow: $box-shadow-base

  &:active
    background-color: color.adjust($secondary, $lightness: 5%)
    transform: translateY(0)

  &:disabled
    background-color: $gray-400
    color: $text-muted
    cursor: not-allowed

.btn-cancel
  display: flex
  align-items: center
  height: 35px
  background-color: $red
  color: $white
  border: none
  border-radius: 8px
  padding: 8px 16px
  cursor: pointer
  transition: 0.1 easy

  &:hover
    background-color: color.adjust($red, $lightness: 15%)
    transform: translateY(-1px)
    box-shadow: $box-shadow-base

  &:active
    background-color: color.adjust($red, $lightness: 5%)
    transform: translateY(0)
  
  &:disabled
    background-color: $gray-400
    color: $text-muted
    cursor: not-allowed

.card
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius: 8px
  box-shadow: $box-shadow-base
  padding: 16px
  margin: 8px
  cursor: pointer

  &:hover
    box-shadow: $box-shadow-hover-base
    transform: translateY(-2px)

  &:active
    box-shadow: $box-shadow-active-base
    transform: translateY(0)

  .card-header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

  .card-title
    font-size: 18px
    font-weight: 600
    margin: 0 0 8px
    color: $gray-900

  .card-body
    font-size: 16px
    color: $gray-700
    white-space: normal

  .card-footer
    position: relative
    font-size: 12px
    font-weight: bolder
    font-style: italic
    color: $text-muted
    margin-bottom: 12px

    &:before
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 1px
      background-color: $gray-500
    
  .footer-content
    position: relative
    font-size: 12px
    font-weight: bolder
    font-style: italic
    color: $text-muted
    margin: 0

.modal
  border: none
  border-radius: 12px
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
  width: 400px
  max-width: 90%
  padding: 20px
  background-color: #ffffff
  animation: fadeIn 0.3s ease

  &:not([open])
    display: none

  textarea
    font-size: 16px
    border: 1px solid black
    border-radius: 4px
    resize: vertical
    max-height: 500px

  input
    height: 40px
    font-size: 16px
    border: 1px solid black
    border-radius: 4px

  input:focus, textarea:focus
    outline-color: #719bf5

  input:hover, textarea:hover
    border: 1px solid #719bf5

  .validation-error
    color: #ff4d4f
    font-size: 12px
    margin-top: -12px

.backdrop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center
  z-index: 999
  animation: fadeIn 0.3s ease
  backdrop-filter: blur(2px)

.modal-container
  display: flex
  flex-direction: column
  gap: 16px
  white-space: normal

.modal-actions
  display: flex
  justify-content: flex-end
  margin-top: 16px
  gap: 10px

  @keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1

.material-symbols-outlined
  font-size: 15px

.header-actions
  display: flex
  justify-content: flex-end
  gap: 4px

.cdk-drag-placeholder
  outline: 2px solid $gray-500
  opacity: 0.3

.cdk-drop-list-dragging
  outline-offset: 2px
  border-radius: 8px