@use '../../styles/variables' as *

.card
  display: flex
  flex-direction: column
  border-radius: 8px
  background-color: $gray-100
  padding: 8px
  margin: 8px 0
  justify-content: space-between
  box-shadow: none
  cursor: grab

  &:hover
    box-shadow: $box-shadow-base

.card-header
  display: flex
  justify-content: space-between
  align-items: center

.btn-primary
  justify-content: center
  width: 250px
  margin-top: 8px
  background-color: $bg-secondary
  color: $gray-900
  font-weight: bold

  &:hover
    background-color: $gray-600
    color: $white
    font-weight: bold

.btn-secondary
  width: 25px
  height: 30px
  justify-content: center

.btn-cancel
  width: 25px
  height: 30px
  justify-content: center

.blank
  height: 8px
  display: block

.cdk-drag-preview
  box-shadow: $box-shadow-hover-base
  opacity: 0.9
  cursor: grabbing
