<app-header></app-header>
<main class="scroll-container">
  <div *ngIf="board$ | async as board" >

    <h2 class="title">{{ board.name }}</h2>

    <div
      class="column-container" 
      cdkDropListGroup
    >
      <app-column
        [boardId]="board.id!"
        (emitOpenAddEditColumnModal)="openAddEditColumnModal($event)"
      ></app-column>
    </div>
  </div>

  @if(isAddEditColumnModalOpen){
    <app-add-edit-column
      [isOpen]="isAddEditColumnModalOpen"
      [isEdit]="isEditMode"
      (emitModalClosed)="onColumnModalClosed()"
      [columnData]="this.columnData"
    ></app-add-edit-column>
  }
</main>
