<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{ name }}</h3>
    <div class="header-actions">
      <button
        class="btn-secondary"
        (click)="openAddEditBoardModal({ name, description })"
        >
        <span class="material-symbols-outlined">edit</span>
      </button>
      <button
        class="btn-cancel"
        (click)="openDeleteBoardModal(boardData)"
        >
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
  </div>

  <p class="card-body">{{ description }}</p>

  @if(footer){
    <div class="card-footer"></div>
    @for(content of footerContent; track content){
      <p class="footer-content">{{ content }}</p>
    }
  }
</div>
