<main>
  <div class="row">
    <h1 class="title">MEUS PROJETOS</h1>
    <button
      class="btn-primary"
      (click)="openAddEditBoardModal(false)"
    >
    <span class="material-symbols-outlined">add</span>
      Criar
    </button>
  </div>
  <div class="container">
    @for(board of boards$ | async; track board.id){
      <app-board-card
        (emitOpenAddEditBoardModal)="openAddEditBoardModal(true, board)"
        (emitOpenDeleteBoardModal)="openDeleteModal(board)"
        [name]="board.name"
        [description]="board.description"
        [footer]="true"
        [footerContent]="[
          'Criado em: ' + (board.createdAt | date:'dd/MM/yyyy'),
          'Última atualização: ' + (board.updatedAt | date:'dd/MM/yyyy')
        ]"
      ></app-board-card>
    }
  </div>

  @if(isAddEditBoardModalOpen){
    <add-edit-board
      [isOpen]="isAddEditBoardModalOpen"
      [isEdit]="isEditMode"
      (emitModalClosed)="onBoardModalClosed()"
      (upsertRenderBoard)="upsertRenderBoard($event)"
      [boardData]="this.boardData"
    ></add-edit-board>
  }

  @if(isDeleteBoardModalOpen){
    <app-confirm-modal
      [isOpen]="isDeleteBoardModalOpen"
      [title]="'Deletar Projeto'"
      [message]="'Tem certeza que deseja deletar este projeto? Esta ação é irreversível.'"
      (emitConfirm)="handleDeletionBoard()"
      (emitModalClosed)="onDeleteBoardModalClosed()"
    ></app-confirm-modal>
  }
</main>
