<main>
  <div class="row">
    <h1 class="title">MEUS PROJETOS</h1>
    <button
      class="btn-primary"
      (click)="openAddEditBoardModal(false)"
    >
      Criar
    </button>
  </div>
  <div class="container">
    @for(board of boards$ | async; track board.id){
      <app-board-card
        [title]="board.name"
        [description]="board.description"
        [footer]="true"
        [footerContent]="[
          'Criado em: ' + (board.createdAt | date:'dd/MM/yyyy'),
          'Última atualização: ' + (board.updatedAt | date:'dd/MM/yyyy')
        ]"
      ></app-board-card>
    }
  </div>
  @if(isModalOpen){
    <add-edit-board
      [isOpen]="isModalOpen"
      [isEdit]="isEditMode"
      (modalClosed)="onModalClosed()"
      (newBoardAdd)="newBoardAdd($event)"
    ></add-edit-board>
  }
</main>
