@use '../../styles/variables' as *
  
.empty-board-placeholder
  padding: 50px 8px
  margin: $margin-base
  max-width: 260px
  text-align: center
  font-style: italic
  color: $text-muted
  border: 2px dashed $text-muted
  border-radius: 8px
  
.material-symbols-outlined
  margin-right: 4px 
